In [1]:
import pandas as pd
import glob as gb
from time import gmtime, strftime

In [2]:
df = pd.read_csv('1gpinr.csv')
print(df.Survived.value_counts())
df2 = pd.DataFrame()
for file in gb.glob('../Kaggle_outputs/*.csv'):
    tmp = pd.read_csv(file)
    print(tmp.Survived.value_counts())
    df2 = pd.concat([tmp,df2],ignore_index=True,axis=1)

0    279
1    139
Name: Survived, dtype: int64
0    253
1    165
Name: Survived, dtype: int64
0    275
1    143
Name: Survived, dtype: int64
0    268
1    150
Name: Survived, dtype: int64

In [3]:
df2.drop(range(2,df2.shape[1],2),axis=1,inplace=True)

In [4]:
for row in range(len(df2)):
    max_val = 0
    max_idx = 0
    vals = df2.iloc[row].value_counts()
    for i,idx in enumerate(vals.index):
        if idx<=1 and vals[idx]>max_val:
            max_val = vals[idx]
            max_idx = idx
    df2.iloc[row,1] = max_idx

In [5]:
df2[1].value_counts()

0    272
1    146
Name: 1, dtype: int64

In [6]:
for row in range(len(df2)):
    if df.iloc[row,1] == 1:
        df.iloc[row,1] = df2.iloc[row,1]

In [7]:
df.Survived.value_counts()

0    303
1    115
Name: Survived, dtype: int64

In [8]:
df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [10]:
curr_time = strftime("%Y-%m-%d-%H-%M-%S")
df.to_csv('../My_ouptuts/output{}.csv'.format(curr_time),index=False)